body {
  font-family: "Montserrat", sans-serif;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	display: inline;
}

.jumbotron {
	padding: 40px;
}

.jumbotron h1 {
	font-family: 'Catamaran', sans-serif;
	color:peru;
}

/* #showNotes {
	background-color: peru;
	color: white;
	height: 50px;
} */

.pattern {
	font-size: 22px;
}

.chord-slides {
	background-color: peru;
	color: white;
	font-size: 20px;
}

/* ul.cycle-slideshow{
	padding-left: 0;
} */

/* li.cycle-slide.cycle-slide-active{
	position: static !important;
	text-align: center;
} */

.pause-resume {
	text-align: center;
}

#footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
}